fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
python-telegram-bot
httpx
celery
redis
ultralytics
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
python-multipart
Pillow
pillow-heif
piexif
apscheduler
alembic